body {
  font-size: 14px;
  line-height: 1.462;
  font-family: Arial, sans-serif;
}
img {
  max-width: 100%;
}
.header {
  background-color: #f1f1f1;
  top: 20px;
  margin: 20px;
  padding: 30px;
}

.beers .beer {
  background: #f9f9f9;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}

.name{
    font-weight: bold;
    text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.active {
  background:White;
   font-weight: bold;
   font-family: sans-serif;
}

.beers {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}
.beer-wrapper {
    justify-content: center;
    align-items: flex-end;
}
.beers .beer {
    display: grid;
    grid-auto-columns: 1fr;
    align-items: end;
    padding: 2rem;
    text-align: center;
    width: 100%;
    height: 390px;
}
.beer .beer__img {
    margin: auto;
    height: 20rem;
}
.beer .beer__info {
    display: flex;
    justify-content: space-between;
}


.pop-up {
  display: none;
  position: absolute;
  background: green;
  color: #fff;
  font-size: 16px;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 3%;
  width: 80%;
  z-index: 99;
}
.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00afdbd4;
  display: none;
}
.button{
    background-color: orangered;
}



